include mixins/forms.pug
doctype html
html
  head
    title This is the login page
  body
    h1 Login
    form(action='/users/login', method='post')
      +input('Login:', 'email', 'text', 'Username')
      +input('Password:', 'password', 'password', 'Password')
      input(type='submit', value='Submit')
