//- mixin input(slug, title, type, placeholder, model)
//- input(type=type, name=title, id=slug, placeholder=placeholder, [(ngModel)]=model)

include mixins/forms.pug
h1 this is a person create form
form(action='./create', method='post')
  +input('Called:', 'called', 'text', 'John', 'person.called')
  +input('Given name:', 'givenName', 'text', 'Jonathan', 'person.givenName')
  +input('Surname:', 'surName', 'text', 'Smith', 'person.surName')
  +input('Birth Day:', 'birthDate', 'text', 'DD/MM/YYYY', 'person.birthDate')
  input(type='submit', value='Submit')
