//-using syntax from article:
//-www.xplatform.rocks/2016/02/05/jade-up-your-angular2-markup/

mixin input(slug, title, type, placeholder, model)
  input(type=type, name=title, id=slug, placeholder=placeholder, [(ngModel)]=model)

